@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Poppins&display=swap');
body {
  background: #e0e5ec;
}

img{
  width: 35%;
  margin-left: 34%;
}

h2 {
  position: relative;
  text-align: center;
  color: #353535;
  font-size: 70px;
  font-family: 'Josefin Sans', sans-serif;
}

p {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  text-align: center;
  font-size: 35px;
  color: #676767;
}

.frame {
  width: 90%;
  margin: 40px auto;
  text-align: center;
}
button {
  margin: 20px;
}
.custom-btn {
  width: 800px;
  height: 200px;
  color: #fff;
  border-radius: 7px;
  padding: 10px 25px;
  font-family: 'Poppins', sans-serif;
  font-weight: 550;
  font-size: 50px;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
   box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(8, 8, 8, 0.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
  outline: none;
}


.btn {
  border: none;
  color: #676767;
}
.btn:after {
  position: absolute;
  content: "";
  width: 0;
  height: 100%;
  top: 0;
  left: 0;
  direction: rtl;
  z-index: -1;
  box-shadow:
   -7px -7px 20px 0px #fff9,
   -4px -4px 5px 0px #fff9,
   7px 7px 20px 0px #0002,
   4px 4px 5px 0px #0001;
  transition: all 0.2s ease;
}
.btn:hover {
  color: #000;
}
.btn:hover:after {
  left: auto;
  right: 0;
  width: 100%;
}
.btn:active {
  top: 2px;
}
